<div class="card">
  <%= link_to image_tag(motivation.image, class: :card__img )#, prototype_path(prototype) if message.image.attached? %>
  <div class="card__body">
    <%= link_to motivation.title, #prototype_path(prototype), class: :card__title%>
    <p class="card__summary">
      <%= motivation.purchase_date %>
    </p>
    <%= link_to motivation.user.name, user_path(motivation.user), class: :card__user %>
  </div>
</div>