<div class="contents row">
  <% @motivations.each do |motivation| %>
    <div class="content_post" style="background-image: url(<%= tweet.image %>);">
      <p><%= motivation.text %></p>
      <span class="name">
        <%= motivation.name %>
      </span>
    </div>
  <% end %> 
</div>